spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bankdb
    username: user
    password: pass
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update